.cardBandsSection {
    background-color: rgb(225, 223, 223);
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
  }
  
  .homePageHeader {
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .container{
    width: 100%;
  }
  
  @media screen and (max-width: 1500px){
    .cardBandsSection{
      grid-template-columns: repeat(5, auto);
  
    }
  }
  
  @media screen and (max-width: 1280px){
    .cardBandsSection{
      grid-template-columns: repeat(4, auto);
  
    }
  }
  
  @media screen and (max-width: 1080px){
    .cardBandsSection{
      grid-template-columns: repeat(3, auto);
  
    }
  }
  
  @media screen and (max-width: 880px){
    .cardBandsSection{
      grid-template-columns: repeat(2, auto);
  
    }
  }
  
  @media screen and (max-width: 680px){
    .cardBandsSection{
      grid-template-columns: repeat(1, auto);
  
    }
  }