.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container h1 {
    margin-bottom:10px;
    font-size: 45px;
}

.loadingPage {
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerArtist {
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.containerPhoto {
    /* background-color: pink; */
    max-width: 100%;
    padding: 10px;
}

.containerPhoto img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
    border-radius: 50%;
}

.containerData {
    /* background-color: aquamarine; */
    max-width: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3);
    align-items: center;
}

.containerData h2 {
    font-size: 25px;
}

.cardDataArtist {
    font-size: 20px;
    min-width: 80%;
    min-height: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerMusics {
    /* background-color: green; */
    max-width: 100%;
    padding: 10px;
}

.containerMusics h1{
    text-align: left;
}

.cardTracks {
    border-radius: 10px;
    max-width: 100%;
    min-height: 70px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    align-items: center;
}

.cardTracks div {
    display: grid;
    grid-template-columns: 5% 15% 80%;
    align-items: center;
}

.cardTracks p {
    font-size: 20px;
}

.cardTracksTitle{
    border-radius: 10px;
    max-width: 100%;
    min-height: 50px;
    margin-bottom:25px;
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    align-items: center;
    font-size: 25px;
}

.cardTracksTitle div {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .containerMusics {
        grid-template-columns: repeat(5, auto);
    }
}

@media screen and (max-width: 1380px) {
    .containerMusics {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width: 1080px) {
    .containerMusics {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 880px) {
    .containerMusics {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 580px) {
    .containerMusics {
        grid-template-columns: repeat(1, auto);
    }
}
