.cardBox{
  width: 250px;
  min-height: 300px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 20px;
}

