body {
  background-color: black;
}

section{
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header{
  background-color: darkblue;
  display: flex;
  justify-content: center;
}

div{
  background-color: white;
}

div.main{
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

div.box1{
  width: 230px;
  height: 220px;
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

div.box2{
  width: 230px;
  height: 220px;
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

div.box3{
  width: 230px;
  height: 220px;
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#green {
  background-color: green;
}

#purple {
  background-color: purple;
}

#red{
  background-color: red;
}

#orange{
  background-color: orange;
}

#title{
  color: white;
}

